:root {
    --white-1: hsl(45, 50%, 95%);
    --grey-1: hsl(0, 0%, 90%);
    --grey-2: hsl(0, 0%, 80%);
    --grey-3: hsl(0, 0%, 70%);
    --grey-4: hsl(0, 0%, 60%);
    --grey-5: hsl(0, 0%, 50%);
    --grey-6: hsl(0, 0%, 40%);
    --grey-7: hsl(0, 0%, 30%);
    --grey-8: hsl(0, 0%, 20%);
    --grey-9: hsl(0, 0%, 10%);
    --grey-10: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#pageContainer {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 2rem;
    margin: 0;
    background: var(--white-1);
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    max-width: 15%;
}

#gridContainer > * {
    transition: all 0.4s;
}

#gridContainer {
    display: grid;
    grid-gap: 0;
    height: 50rem;
    width: 50rem;
    margin-left: 2rem;
    padding: 0;
    border: 2px solid var(--grey-4);
}

.cell {
    height: auto;
    width: auto;
    background: white;
    border: solid 0.5px lightgrey;
}

.btn {
    margin-top: 1rem;
}

input {
    width: auto;
}