:root {
    --white-1: hsl(45, 50%, 95%);
    --blue-1: hsl(190, 100%, 54%);
    --bg-1: hsl(190, 50%, 80%);
    --bg-2: hsl(190, 50%, 70%);
    --grey-1: hsl(0, 0%, 90%);
    --grey-2: hsl(0, 0%, 80%);
    --grey-3: hsl(0, 0%, 70%);
    --grey-4: hsl(0, 0%, 60%);
    --grey-5: hsl(0, 0%, 50%);
    --grey-6: hsl(0, 0%, 40%);
    --grey-7: hsl(0, 0%, 30%);
    --grey-8: hsl(0, 0%, 20%);
    --grey-9: hsl(0, 0%, 10%);
    --grey-10: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--bg-1);
    font-family: Avenir, sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: 0.5s;
}

#darkModeButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
    margin: auto 0;
    background: transparent;
    padding: 5px;
}

#darkModeBtn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    transition: 0.5s;
}

#lightSide {
    height: 20px;
    width: 10px;
    align-self: center;
    justify-self: flex-end;
    background: white;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}

#darkSide {
    height: 20px;
    width: 10px;
    align-self: center;
    justify-self: flex-start;
    background: black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.activeMode {
    box-shadow: 0 0 3px 1px var(--blue-1);
}

#titleContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--bg-1);
}

#titleText {
    margin: 0 auto;
    font-size: 1.5rem;
    color: var(--grey-9);
}

#buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    align-items: space-evenly;
    height: 20%;
    width: 100%;
    padding: 0.5rem;
    background: var(--bg-1);
}

#gridContainer > * {
    transition: all 0.4s;
}

#gridContainer {
    display: grid;
    grid-gap: 0;
    height: calc(100vw * 1);
    width: 100vw;
    padding: 0;
    background-color: white;
    border: 2px solid var(--grey-4);
}

.cell {
    height: auto;
    width: auto;
    background: transparent;
    border: 0.5px solid var(--grey-1);
    /* Solution from Jesse to prevent scrolling on drag */
    touch-action: none;
}

.cellNoBorder {
    height: auto;
    width: auto;
    background: transparent;
    border: none !important;
}

.btn {
    width: auto;
    background: transparent;
    border: 2px solid var(--grey-8);
    border-radius: 6px;
    text-align: center;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    color: var(--grey-8);
    transition: 0.8s;
}

.btn p {
    margin: 0;
    padding: 0;
}

.btn:hover,
.btn:focus {
    background: var(--bg-2);
    color: var(--white-1);
}

.btn:disabled {
    color: var(--grey-6);
    background:var(--grey-3);
    border: 1px solid var(--grey-2);
}

#inputColor {
    height: 65%;
    width: 80%;
    margin-top: -5px;
    padding: 0;
    border: none;
    border-radius: 6px;
    
}

input[type="color" i] {
    background-color: transparent;
}


/* Slider */

#sizeSliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 80%;
}

#sizeSliderLabel {
    font-size: 16px;
    margin-bottom: 1rem;
    color: var(--grey-8);
}

.slider {
    -webkit-appearance: none;
    height: 0.4rem;
    width: 100%;
    background: var(--grey-7);
    border-radius: 7px;
}

/* Chrome, from rlmoser99 */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 22px;
    width: 22px;
    background: var(--blue-1);
    border-radius: 50%;
    cursor: pointer;
}


/* Dark mode */

.darkPage {
    background-color: var(--grey-9) !important;
}

.darkBtn {
    color: var(--white-1) !important;
    border: 2px solid var(--white-1) !important;
}

.darkGrid {
    background-color: var(--grey-8) !important;
    
}

.darkCell {
    border: 0.5px solid var(--grey-7) !important;
}

.darkSlider {
    background: var(--white-1) !important;
}

.darkLabel {
    color: var(--white-1) !important;
}


/* Media Queries */

@media only screen and (min-width: 600px) {
   
   #pageContainer {
       display: grid;
       grid-template-columns: 20% 1fr;
       grid-template-rows: 15% 1fr 15%;
       grid-template-areas: 
            "title title"
            "buttons grid"
            "buttons slider";
        grid-gap: 1rem;
        padding: 1rem;
   }
   
    .btn {
        width: 80%;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 700;
   }

   #titleContainer {
       grid-area: title;
       text-align: center;
   }

   #gridContainer {
        grid-area: grid;
        height: 65vh;
        width: calc(65vh * 1);
        margin: 0 auto;
    }

    #buttonContainer {
        grid-area: buttons;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 3.5rem);
        align-content: center;
        height: 65vh;
        width: 100%;
        padding-bottom: 100%;
    }

    #sizeSliderContainer {
        grid-area: slider;
        width: 65vh;
        margin: 0 auto;
    }
}



