:root {
    --white-1: hsl(45, 50%, 95%);
    --grey-1: hsl(0, 0%, 90%);
    --grey-2: hsl(0, 0%, 80%);
    --grey-3: hsl(0, 0%, 70%);
    --grey-4: hsl(0, 0%, 60%);
    --grey-5: hsl(0, 0%, 50%);
    --grey-6: hsl(0, 0%, 40%);
    --grey-7: hsl(0, 0%, 30%);
    --grey-8: hsl(0, 0%, 20%);
    --grey-9: hsl(0, 0%, 10%);
    --grey-10: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--grey-8);
    font-family: Avenir, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    align-items: space-evenly;
    height: 25%;
    width: 100%;
    padding: 0.5rem;
}

#gridSizeLabel,
#sizeSlider {
    display: none;
}

#gridContainer > * {
    transition: all 0.4s;
}

#gridContainer {
    display: grid;
    grid-gap: 0;
    height: calc(100vw * 1);
    width: 100vw;
    margin: auto 0;
    padding: 0;
    border: 2px solid var(--grey-4);
}

.cell {
    height: auto;
    width: auto;
    background: white;
    border: 0.1px solid var(--grey-1);
}

.cellNoBorder {
    height: auto;
    width: auto;
    background: white;
    border: none;
}

.btn {
    
    width: auto;
    background: transparent;
    border: 2px solid var(--white-1);
    border-radius: 6px;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    color: var(--white-1);
}

.btn p {
    margin: 0;
    padding: 0;
}

.btn:hover,
.btn:focus {
    background: lightseagreen;
}

#inputColor {
    height: 40%;
    width: 60%;
    margin: 0;
    padding: 0;
    border: none;
}

input[type="color" i] {
    background-color: transparent;
}

@media screen and (min-width: 600px) {
    #buttonContainer {
        flex-direction: column;
    }
}