:root {

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#gridContainer {
    height: 100%;
    width: 100%;
    padding: 2rem;
    margin: 0;
    background: white;
}

#gridContainer {
    display: grid;
    /*
    grid-template-columns: repeat(auto-fit, minmax(10px, 50%));
    grid-template-rows: repeat(auto-fit, minmax(10px, 50%));
    */
    grid-gap: 0;
}

.cell {
    height: auto;
    width: auto;
    background: lightgrey;
    border: solid 0.5px white;
}

.hoverCell {
    background-color: teal;
}